header {
  position:relative;
  z-index:50;
}
.header-logo {
	text-decoration:none;
	float:left;
	h1 {
		margin: 0.5em 0 0 0;
		color:$black;
		a {
		text-decoration:none;
		color:$black;
		}
		a:visited {
			color:black;
		}
	}
	
}